*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}

#content {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60% 40%;
    gap: 0px 0px;
    grid-auto-flow: row;    
}
#subcontent1{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr;
}
#features{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
}
#features-content{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
}
#sub-feature{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
#subcontent1 .card{
    width: 18rem;
    height:22rem;
}
#features #featured{
    width: 16rem;
    height: 8rem;
}
#features #focused{
    width: 10rem;
    height: 8rem;
}

@media screen and (max-width:1120px){
    #subcontent1 .card{
        width: 80%;
    }
    #features #featured{
        width: 80%;
        font-size: 60%;
    }
    #features #focused{
        width: 80%;
        font-size: 60%;
    }
    #subcontent2 .card{
        font-size: 13px;
    }
}

@media screen and (max-width:745px){
    *{
        overflow: auto;
    }
}